* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
    background-color: lightgray;
    width: 100%;
}

nav > a {
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 900;
    color: black;
}

main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main > h1 {
    align-self: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 15px 20px 20px;
    gap: 10px;
    align-items: baseline;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post > a {
    align-self: center;
    font-weight: bolder;
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
